.page.lists-show {
  .content-scrollable {
    background: @color-empty;
    top: 5em !important;
  }
}

.todo-new {
  flex: 1;
  display: flex;
}

.todo-new input[type="text"] {
  flex: 1;
  padding-left: 44px;
}